h1 {
  font-size: 60px;
  text-align: center;
  font-family: "Caveat", cursive;
}
.title-br {
  background-color: rgb(7, 26, 45);
}
.container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto Slab", serif;
}
body {
  font-size: 25px;
  background-image: linear-gradient(#1a1a2e, #0f3460, #000000, #144272);
  text-align: center;
  color: white;
}
img {
  border-radius: 50%;
  width: 340px;
  height: 340px;
  float: left;
  margin-right: 30px;
  border: 2px solid yellow;
}

ul {
  list-style: none;
}

bold {
  font-weight: 900;
}
h6 {
  text-align: center;
}

ul {
  text-align: justify;
}

@media (max-width: 392px) {
  img {
    height: 200px;
    width: 200px;
    display: inline;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .skill-div {
    display: block;
  }
  body {
    font-size: small;
  }
  .credits,
  .information {
    display: block;
    font-size: 15px;
    text-align: center;
  }
  h1 {
    margin: 0;
    padding: 0;
  }
}
