h1 {
  font-size: 60px;
  text-align: center;
  font-family: "Caveat", cursive;
}
.title-br {
  background-color: rgb(7, 26, 45);
}
.container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto Slab", serif;
}
body {
  font-size: 25px;
  background-image: linear-gradient(#5800ff, #0096ff, #00d7ff, #72ffff);
  text-align: center;
  color: rgb(0, 0, 0);
}
img {
  border-radius: 50%;
  width: 340px;
  height: 340px;
  float: left;
  margin-right: 30px;
  border: 2px solid yellow;
}

ul {
  list-style: none;
}

bold {
  font-weight: 900;
}
h6 {
  text-align: center;
}

ul {
  text-align: justify;
}

@media (max-width: 480px) {
  img {
    display: inline-block;
    /* height: 150px; */
    width: 150px;
    height: auto;
    width: 100%;
    margin-left: auto;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .image-div {
    display: block;
    justify-content: center;
    align-items: center;
  }
  .skill-div {
    display: block;
  }
  body {
    font-size: smaller;
  }
  .credits,
  .information {
    display: block;
    font-size: 15px;
    text-align: center;
  }
  h1 {
    margin: 0;
    padding: 0;
  }
  .heading-2 {
    display: block;
  }
}
