body {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(#793fdf, #7091f5, #97fff4, #fffd8c) no-repeat;
  background-size: cover;
  height: 100%;
  font-size: 25px;
  font-family: "Roboto Slab", serif;
}
h1 {
  text-align: center;
}
.hey {
  position: relative;
  display: block;
  font: 70px bold;
  float: left;
  bottom: -5px;
  right: 5px;
  font-family: "Kalam", cursive;
}
.happy {
  font-weight: 700;
}
.javed {
  font-size: 35px;
  font-weight: 600;
  font-family: "Dancing Script", cursive;
}
div {
  bottom: 10px;
  position: relative;
  width: 100%;
}
footer {
  text-align: center;
}

@media (max-width: 480px) {
  body {
    width: 95%;
    font-size: 16px;
  }
  .hey {
    font-size: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    top: -16px;
    height: 35px;
  }
  .javed {
    font-size: 20px;
  }
  .hey-there {
    display: inline;
  }
}
